.transactions {
  min-height: calc(100vh - 11.1rem);
  .transaction_wrapper {
    .transaction {
      background-color: #304567;
      padding: 1.3rem;
      color: white;
      border-radius: 0.8rem;
      min-height: 29rem;
      margin-bottom: 2rem;
      p {
        font-size: 1.7rem;
        overflow-wrap: break-word;
        font-family: 400;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .transactions {
    height: auto;
  }
}
